# logs
discordia.log

# json
gateway.json
.vscode

# When this repo gets cloned, these extenstions get erased.
# So I ingore them, and you should install them your self.
# extensions
deps/discordia-components/
deps/discordia-interactions/
deps/discordia-modals/
deps/discordia-slash/

# all of
*.exe
